@using BusinessLogicLayer.Dtos.DesignDtos
@using System.Linq

<body class="template-color-1">
    <div class="main-wrapper">                
        <div class="slider-with-category_menu">
            <div class="container-fluid">
                <div class="row">
                    <div class="col grid-half order-md-2 order-lg-1">
                        <div class="category-menu">
                            <div class="category-heading">
                                <h2 class="categories-toggle"><span>Shop by categories</span></h2>
                            </div>
                            <div id="cate-toggle" class="category-menu-list">
                                <ul>
                                    <li class="right-menu"><a href="#">Hand Harness</a>
                                        <ul class="cat-mega-menu">
                                            <li class="right-menu cat-mega-title">
                                                <a href="#">Habitant Morbi</a>
                                                <ul>
                                                    <li><a href="shop-left-sidebar.html">Habitant Morbi</a></li>
                                                    <li><a href="shop-left-sidebar.html">Office chair</a></li>
                                                    <li><a href="shop-left-sidebar.html">Purus Lacus</a></li>
                                                    <li><a href="shop-left-sidebar.html">Sagittis Blandit</a></li>
                                                </ul>
                                            </li>
                                            <li class="right-menu cat-mega-title">
                                                <a href="#">Purus Lacus</a>
                                                <ul>
                                                    <li><a href="shop-left-sidebar.html">Magna Pellentesq</a></li>
                                                    <li><a href="shop-left-sidebar.html">Molestie Tortor</a></li>
                                                    <li><a href="shop-left-sidebar.html">Vehicula Element</a></li>
                                                    <li><a href="shop-left-sidebar.html">Volutpat Diam</a></li>
                                                </ul>
                                            </li>
                                            <li class="right-menu cat-mega-title">
                                                <a href="#">Office chair</a>
                                                <ul>
                                                    <li><a href="shop-left-sidebar.html">Bibendum Cursus</a></li>
                                                    <li><a href="shop-left-sidebar.html">Dignissim Turpis</a></li>
                                                    <li><a href="shop-left-sidebar.html">Dining room</a></li>
                                                    <li><a href="shop-left-sidebar.html">Egestas Ultricies</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="right-menu"><a href="#">Maang Tika</a>
                                        <ul class="cat-mega-menu cat-mega-menu-2">
                                            <li class="right-menu cat-mega-title">
                                                <a href="#">Cameras</a>
                                                <ul>
                                                    <li><a href="shop-left-sidebar.html">Cords and Cables</a></li>
                                                    <li><a href="shop-left-sidebar.html">gps accessories</a></li>
                                                    <li><a href="shop-left-sidebar.html">Microphones</a></li>
                                                    <li><a href="shop-left-sidebar.html">Wireless Transmitters</a></li>
                                                </ul>
                                            </li>
                                            <li class="right-menu cat-mega-title">
                                                <a href="#">Audio</a>
                                                <ul>
                                                    <li><a href="shop-left-sidebar.html">Other Accessories</a></li>
                                                    <li><a href="shop-left-sidebar.html">Portable Audio</a></li>
                                                    <li><a href="shop-left-sidebar.html">Satellite Radio</a></li>
                                                    <li><a href="shop-left-sidebar.html">Visual Accessories</a></li>
                                                </ul>
                                            </li>
                                            <li class="right-menu cat-mega-title">
                                                <a href="#">Cell Phones</a>
                                                <ul>
                                                    <li><a href="shop-left-sidebar.html">Xail</a></li>
                                                    <li><a href="shop-left-sidebar.html">Chamcham Galaxy</a></li>
                                                    <li><a href="shop-left-sidebar.html">SIM Cards</a></li>
                                                    <li><a href="shop-left-sidebar.html">Prepaid Cell Phones</a></li>
                                                </ul>
                                            </li>
                                            <li class="right-menu cat-mega-title">
                                                <a href="#">TV & Video</a>
                                                <ul>
                                                    <li><a href="shop-left-sidebar.html">4K Ultra HDTVs</a></li>
                                                    <li><a href="shop-left-sidebar.html">All TVs</a></li>
                                                    <li><a href="shop-left-sidebar.html">Refurbished TVs</a></li>
                                                    <li><a href="shop-left-sidebar.html">TV Accessories</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="right-menu"><a href="#">Toe Rings</a>
                                        <ul class="cat-mega-menu cat-mega-menu-3">
                                            <li class="right-menu cat-mega-title">
                                                <a href="#">Sagittis Blandit</a>
                                                <ul>
                                                    <li><a href="shop-left-sidebar.html">adipiscing elit</a></li>
                                                    <li><a href="shop-left-sidebar.html">consectetur adip</a></li>
                                                    <li><a href="shop-left-sidebar.html">erat et est</a></li>
                                                    <li><a href="shop-left-sidebar.html">molestie velit</a></li>
                                                </ul>
                                            </li>
                                            <li class="right-menu cat-mega-title">
                                                <a href="#">Accessories</a>
                                                <ul>
                                                    <li><a href="shop-left-sidebar.html">Habitant Morbi</a></li>
                                                    <li><a href="shop-left-sidebar.html">Office chair</a></li>
                                                    <li><a href="shop-left-sidebar.html">Purus Lacus</a></li>
                                                    <li><a href="shop-left-sidebar.html">Sagittis Blandit</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="right-menu"><a href="#">Traditional Earrings</a>
                                        <ul class="cat-mega-menu">
                                            <li class="right-menu cat-mega-title">
                                                <a href="#">Accessories</a>
                                                <ul>
                                                    <li><a href="shop-left-sidebar.html">Habitant Morbi</a></li>
                                                    <li><a href="shop-left-sidebar.html">Office chair</a></li>
                                                    <li><a href="shop-left-sidebar.html">Purus Lacus</a></li>
                                                    <li><a href="shop-left-sidebar.html">Sagittis Blandit</a></li>
                                                </ul>
                                            </li>
                                            <li class="right-menu cat-mega-title">
                                                <a href="#">Purus Lacus</a>
                                                <ul>
                                                    <li><a href="shop-left-sidebar.html">Magna Pellentesq</a></li>
                                                    <li><a href="shop-left-sidebar.html">Molestie Tortor</a></li>
                                                    <li><a href="shop-left-sidebar.html">Vehicula Element</a></li>
                                                    <li><a href="shop-left-sidebar.html">Volutpat Diam</a></li>
                                                </ul>
                                            </li>
                                            <li class="right-menu cat-mega-title">
                                                <a href="#">Office chair</a>
                                                <ul>
                                                    <li><a href="shop-left-sidebar.html">Bibendum Cursus</a></li>
                                                    <li><a href="shop-left-sidebar.html">Dignissim Turpis</a></li>
                                                    <li><a href="shop-left-sidebar.html">Dining room</a></li>
                                                    <li><a href="shop-left-sidebar.html">Egestas Ultricies</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Kada Cum Bracelet</a></li>
                                    <li><a href="#">Exquisite Rings</a></li>
                                    <li><a href="#">Necklaces</a></li>
                                    <li><a href="#">Foot Harness</a></li>
                                    <li><a href="#">Braid Jewels</a></li>
                                    <li class="rx-child"><a href="#">Anklet – Epitome Of Culture</a></li>
                                    <li class="rx-child"><a href="#">Graceful Armlet</a></li>
                                    <li class="rx-parent">
                                        <a class="rx-default">More Categories</a>
                                        <a class="rx-show">Collapse</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col grid-full order-md-1 order-lg-2">
                        <div class="hiraola-slider_area">
                            <div class="main-slider">
                                <!-- Begin Single Slide Area -->
                                <div class="single-slide animation-style-01 bg-1">
                                    <div class="container">
                                        <div class="slider-content">
                                            <h5><span>Black Friday</span> This Week</h5>
                                            <h2>Work Desk</h2>
                                            <h3>Surface Studio 2022</h3>
                                            <h4>Starting at <span>£1599.00</span></h4>
                                            <div class="hiraola-btn-ps_left slide-btn">
                                                <a class="hiraola-btn" href="shop-left-sidebar.html">Shopping Now</a>
                                            </div>
                                        </div>
                                        <div class="slider-progress"></div>
                                    </div>
                                </div>
                                <!-- Single Slide Area End Here -->
                                <!-- Begin Single Slide Area -->
                                <div class="single-slide animation-style-02 bg-2">
                                    <div class="container">
                                        <div class="slider-content">
                                            <h5><span>-10% Off</span> This Week</h5>
                                            <h2>Phantom4</h2>
                                            <h3>Pro+ Obsidian</h3>
                                            <h4>Starting at <span>£809.00</span></h4>
                                            <div class="hiraola-btn-ps_left slide-btn">
                                                <a class="hiraola-btn" href="shop-left-sidebar.html">Shopping Now</a>
                                            </div>
                                        </div>
                                        <div class="slider-progress"></div>
                                    </div>
                                </div>
                                <div class="single-slide animation-style-02 bg-3">
                                    <div class="container">
                                        <div class="slider-content">
                                            <h5><span>Black Friday</span> This Week</h5>
                                            <h2>Work Desk</h2>
                                            <h3>Surface Studio 2022</h3>
                                            <h4>Starting at <span>£1599.00</span></h4>
                                            <div class="hiraola-btn-ps_left slide-btn">
                                                <a class="hiraola-btn" href="shop-left-sidebar.html">Shopping Now</a>
                                            </div>
                                        </div>
                                        <div class="slider-progress"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col grid-half grid-md_half order-md-2 order-lg-3">
                        <div class="banner-item img-hover_effect">
                            <a href="shop-left-sidebar.html">
                                <img class="img-full" src="~/assets/images/banner/1_1.jpg" alt="Hiraola's Banner">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hiraola-banner_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="banner-item img-hover_effect">
                            <a href="shop-left-sidebar.html">
                                <img class="img-full" src="~/assets/images/banner/1_2.jpg" alt="Hiraola's Banner">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="banner-item img-hover_effect">
                            <a href="shop-left-sidebar.html">
                                <img class="img-full" src="~/assets/images/banner/1_3.jpg" alt="Hiraola's Banner">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="banner-item img-hover_effect">
                            <a href="shop-left-sidebar.html">
                                <img class="img-full" src="~/assets/images/banner/1_4.jpg" alt="Hiraola's Banner">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Begin Hiraola's Product Area -->
        <div class="hiraola-product_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hiraola-section_title">
                            <h4>BÁN CHẠY</h4>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="hiraola-product_slider">
                            @{
                                var topOrderedDesigns = ViewBag.TopOrderedDesigns as List<DesignViewModel> ?? new List<DesignViewModel>();
                                if (topOrderedDesigns.Any())
                                {
                                    foreach (var item in topOrderedDesigns)
                                    {
                                        <div class="slide-item">
                                            <div class="single_product">
                                                <div class="product-img">
                                                    <a asp-controller="Product" asp-action="ProductDetail" asp-route-id="@item.DesignId">
                                                        <img class="primary-img" src="@item.FirstImage.ImageUrl" alt="Hiraola's Product Image">
                                                        <img class="secondary-img" src="@item.FirstImage.ImageUrl" alt="Hiraola's Product Image">
                                                    </a>
                                                    <span class="sticker">Hot</span>
                                                    <div class="add-actions">
                                                        <ul>
                                                            <li>
                                                                <a class="hiraola-add_cart" href="javascript:void(0)" onclick="addToCart('@item.DesignId', 1, false)" data-bs-toggle="tooltip" data-placement="top" title="Thêm vào giỏ hàng">
                                                                    <i class="ion-bag"></i>
                                                                </a>
                                                            </li>
                                                            <li class="quick-view-btn" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                                                                <a asp-controller="Product" asp-action="ProductDetail" asp-route-id="@item.DesignId" data-bs-toggle="tooltip" data-placement="top" title="Xem nhanh">
                                                                    <i class="ion-eye"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="hiraola-product_content">
                                                    <div class="product-desc_info">
                                                        <h6>
                                                            <a class="product-name" asp-controller="Product" asp-action="ProductDetail" asp-route-id="@item.DesignId">@item.DesignName</a>
                                                        </h6>
                                                        <div class="price-box">
                                                            <span class="new-price">@item.Price VND</span>
                                                        </div>
                                                        <div class="rating-box">
                                                            <ul>
                                                                <li><i class="fa fa-star-of-david"></i></li>
                                                                <li><i class="fa fa-star-of-david"></i></li>
                                                                <li><i class="fa fa-star-of-david"></i></li>
                                                                <li><i class="fa fa-star-of-david"></i></li>
                                                                <li class="silver-color"><i class="fa fa-star-of-david"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <p>Không có sản phẩm nào được đặt hàng.</p>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hiraola's Product Area End Here -->

        <div class="static-banner_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="static-banner-image">
                            <div class="static-banner-content">
                                <p><span>-25% Off</span>This Week</p>
                                <h2>Featured Product</h2>
                                <h3>Meito Accessories 2022</h3>
                                <p class="schedule">
                                    Starting at
                                    <span> £1209.00</span>
                                </p>
                                <div class="hiraola-btn-ps_left">
                                    <a href="shop-left-sidebar.html" class="hiraola-btn">Shopping Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Begin Hiraola's Product Tab Area -->
        <div class="hiraola-product-tab_area-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-tab">
                            <div class="hiraola-tab_title">
                                <h4>SẢN PHẨM</h4>
                            </div>
                            <ul class="nav product-menu">
                               @*  <li><a class="active" data-bs-toggle="tab" href="#necklaces"><span>Vòng tay</span></a></li>
                                <li><a data-bs-toggle="tab" href="#earrings"><span>Dây chuyền</span></a></li>
                                <li><a data-bs-toggle="tab" href="#bracelet"><span>Phụ kiện</span></a></li> *@
                                @if (ViewBag.Categories != null)
                                {
                                    var isFirst = true;
                                    foreach (var category in ViewBag.Categories)
                                    {
                                        <li>
                                            <a class="@(isFirst ? "active" : "")" data-bs-toggle="tab" href="#category-@category.CategoryId">
                                                <span>@category.CategoryName</span>
                                            </a>
                                        </li>
                                        isFirst = false;
                                    }
                                }
                            </ul>
                        </div>
                        <div class="tab-content hiraola-tab_content">
                            @if (ViewBag.Categories != null)
                            {
                                var isFirst = true;
                                foreach (var category in ViewBag.Categories)
                                {
                                    <div id="category-@category.CategoryId" class="tab-pane @(isFirst ? "active show" : "")" role="tabpanel">
                                        <div class="hiraola-product-tab_slider-2">
                                            @{
                                                var designs = ViewBag.DesignsByCategory != null && ViewBag.DesignsByCategory.ContainsKey(category.CategoryId)
                                                ? (List<DesignViewModel>)ViewBag.DesignsByCategory[category.CategoryId]
                                                : new List<DesignViewModel>();
                                                if (designs.Any())
                                                {
                                                    foreach (var item in designs.Take(6)) // Limit to 6 products per tab
                                                    {
                                                        <div class="slide-item">
                                                            <div class="single_product">
                                                                <div class="product-img">
                                                                    <a asp-controller="Product" asp-action="ProductDetail" asp-route-designId="@item.DesignId">
                                                                        <img class="primary-img" src="@item.FirstImage.ImageUrl" alt="Hiraola's Product Image">
                                                                        <img class="secondary-img" src="@item.FirstImage.ImageUrl" alt="Hiraola's Product Image">
                                                                    </a>
                                                                    <div class="add-actions">
                                                                        <ul>
                                                                            <li>
                                                                                <a class="hiraola-add_cart" href="javascript:void(0)" onclick="addToCart('@item.DesignId', 1, false)" data-bs-toggle="tooltip" data-placement="top" title="Add To Cart">
                                                                                    <i class="ion-bag"></i>
                                                                                </a>
                                                                            </li>
                                                                            <li class="quick-view-btn" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                                                                                <a asp-controller="Product" asp-action="ProductDetail" asp-route-designId="@item.DesignId" data-bs-toggle="tooltip" data-placement="top" title="Quick View">
                                                                                    <i class="ion-eye"></i>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="hiraola-product_content">
                                                                    <div class="product-desc_info">
                                                                        <h6>
                                                                            <a class="product-name" asp-controller="Product" asp-action="ProductDetail" asp-route-designId="@item.DesignId">@item.DesignName</a>
                                                                        </h6>
                                                                        <div class="price-box">
                                                                            <span class="new-price">@item.Price VND</span>
                                                                        </div>
                                                                        <div class="rating-box">
                                                                            <ul>
                                                                                <li><i class="fa fa-star-of-david"></i></li>
                                                                                <li><i class="fa fa-star-of-david"></i></li>
                                                                                <li><i class="fa fa-star-of-david"></i></li>
                                                                                <li><i class="fa fa-star-of-david"></i></li>
                                                                                <li class="silver-color"><i class="fa fa-star-of-david"></i></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                                else
                                                {
                                                    <p>Không có sản phẩm nào trong danh mục này.</p>
                                                }
                                            }
                                        </div>
                                    </div>
                                    isFirst = false;
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hiraola's Product Tab Area End Here -->

        <div class="hiraola-banner_area-2">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </div>
                
        <!-- Begin Hiraola's Modal Area -->
        <div class="modal fade modal-wrapper" id="exampleModalCenter">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="modal-inner-area sp-area row">
                            <div class="col-lg-5 col-md-5">
                                <div class="sp-img_area">
                                    <div class="sp-img_slider-2 slick-img-slider hiraola-slick-slider arrow-type-two" data-slick-options='{
                                    "slidesToShow": 1,
                                    "arrows": false,
                                    "fade": true,
                                    "draggable": false,
                                    "swipe": false,
                                    "asNavFor": ".sp-img_slider-nav"
                                }'>
                                        <div class="single-slide red">
                                            <img src="assets/images/single-product/large-size/1.jpg" alt="Hiraola's Product Image">
                                        </div>
                                        <div class="single-slide orange">
                                            <img src="assets/images/single-product/large-size/2.jpg" alt="Hiraola's Product Image">
                                        </div>
                                        <div class="single-slide brown">
                                            <img src="assets/images/single-product/large-size/3.jpg" alt="Hiraola's Product Image">
                                        </div>
                                        <div class="single-slide umber">
                                            <img src="assets/images/single-product/large-size/4.jpg" alt="Hiraola's Product Image">
                                        </div>
                                    </div>
                                    <div class="sp-img_slider-nav slick-slider-nav hiraola-slick-slider arrow-type-two" data-slick-options='{
                                   "slidesToShow": 4,
                                    "asNavFor": ".sp-img_slider-2",
                                   "focusOnSelect": true
                                  }' data-slick-responsive='[
                                        {"breakpoint":1201, "settings": {"slidesToShow": 2}},
                                        {"breakpoint":768, "settings": {"slidesToShow": 3}},
                                        {"breakpoint":577, "settings": {"slidesToShow": 3}},
                                        {"breakpoint":481, "settings": {"slidesToShow": 2}},
                                        {"breakpoint":321, "settings": {"slidesToShow": 2}}
                                    ]'>
                                        <div class="single-slide red">
                                            <img src="assets/images/single-product/small-size/1.jpg" alt="Hiraola's Product Thumnail">
                                        </div>
                                        <div class="single-slide orange">
                                            <img src="assets/images/single-product/small-size/2.jpg" alt="Hiraola's Product Thumnail">
                                        </div>
                                        <div class="single-slide brown">
                                            <img src="assets/images/single-product/small-size/3.jpg" alt="Hiraola's Product Thumnail">
                                        </div>
                                        <div class="single-slide umber">
                                            <img src="assets/images/single-product/small-size/4.jpg" alt="Hiraola's Product Thumnail">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-6 col-md-6">
                                <div class="sp-content">
                                    <div class="sp-heading">
                                        <h5><a href="#">Light Inverted Pendant Quis Justo Condimentum</a></h5>
                                    </div>
                                    <div class="rating-box">
                                        <ul>
                                            <li><i class="fa fa-star-of-david"></i></li>
                                            <li><i class="fa fa-star-of-david"></i></li>
                                            <li><i class="fa fa-star-of-david"></i></li>
                                            <li><i class="fa fa-star-of-david"></i></li>
                                            <li><i class="fa fa-star-of-david"></i></li>
                                        </ul>
                                    </div>
                                    <div class="price-box">
                                        <span class="new-price">£82.84</span>
                                        <span class="old-price">£93.68</span>
                                    </div>
                                    <div class="essential_stuff">
                                        <ul>
                                            <li>EX Tax:<span>£453.35</span></li>
                                            <li>Price in reward points:<span>400</span></li>
                                        </ul>
                                    </div>
                                    <div class="list-item">
                                        <ul>
                                            <li>10 or more £81.03</li>
                                            <li>20 or more £71.09</li>
                                            <li>30 or more £61.15</li>
                                        </ul>
                                    </div>
                                    <div class="list-item last-child">
                                        <ul>
                                            <li>Brand<a href="javascript:void(0)">Buxton</a></li>
                                            <li>Product Code: Product 15</li>
                                            <li>Reward Points: 100</li>
                                            <li>Availability: In Stock</li>
                                        </ul>
                                    </div>
                                    <div class="color-list_area">
                                        <div class="color-list_heading">
                                            <h4>Available Options</h4>
                                        </div>
                                        <span class="sub-title">Color</span>
                                        <div class="color-list">
                                            <a href="javascript:void(0)" class="single-color active" data-swatch-color="red">
                                                <span class="bg-red_color"></span>
                                                <span class="color-text">Red (+£3.61)</span>
                                            </a>
                                            <a href="javascript:void(0)" class="single-color" data-swatch-color="orange">
                                                <span class="burnt-orange_color"></span>
                                                <span class="color-text">Orange (+£2.71)</span>
                                            </a>
                                            <a href="javascript:void(0)" class="single-color" data-swatch-color="brown">
                                                <span class="brown_color"></span>
                                                <span class="color-text">Brown (+£0.90)</span>
                                            </a>
                                            <a href="javascript:void(0)" class="single-color" data-swatch-color="umber">
                                                <span class="raw-umber_color"></span>
                                                <span class="color-text">Umber (+£1.81)</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="quantity">
                                        <label>Quantity</label>
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" value="1" type="text">
                                            <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                            <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                        </div>
                                    </div>
                                    <div class="hiraola-group_btn">
                                        <ul>
                                            <li><a href="cart.html" class="add-to_cart">Cart To Cart</a></li>
                                            <li><a href="cart.html"><i class="ion-android-favorite-outline"></i></a></li>
                                            <li><a href="cart.html"><i class="ion-ios-shuffle-strong"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="hiraola-tag-line">
                                        <h6>Tags:</h6>
                                        <a href="javascript:void(0)">Ring</a>,
                                        <a href="javascript:void(0)">Necklaces</a>,
                                        <a href="javascript:void(0)">Braid</a>
                                    </div>
                                    <div class="hiraola-social_link">
                                        <ul>
                                            <li class="facebook">
                                                <a href="https://www.facebook.com" data-bs-toggle="tooltip" target="_blank" title="Facebook">
                                                    <i class="fab fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="twitter">
                                                <a href="https://twitter.com" data-bs-toggle="tooltip" target="_blank" title="Twitter">
                                                    <i class="fab fa-twitter-square"></i>
                                                </a>
                                            </li>
                                            <li class="youtube">
                                                <a href="https://www.youtube.com" data-bs-toggle="tooltip" target="_blank" title="Youtube">
                                                    <i class="fab fa-youtube"></i>
                                                </a>
                                            </li>
                                            <li class="google-plus">
                                                <a href="https://www.plus.google.com/discover" data-bs-toggle="tooltip" target="_blank" title="Google Plus">
                                                    <i class="fab fa-google-plus"></i>
                                                </a>
                                            </li>
                                            <li class="instagram">
                                                <a href="https://rss.com" data-bs-toggle="tooltip" target="_blank" title="Instagram">
                                                    <i class="fab fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hiraola's Modal Area End Here -->

    </div>    

    <!-- Add CSRF Token -->
    <form id="antiForgeryForm">
        @Html.AntiForgeryToken()
    </form>

    <!-- Add SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Custom CSS for SweetAlert2 -->
    <style>
        .swal2-popup {
            font-family: 'Lato', sans-serif;
            background: #f4f4f4;
            color: #595959;
            border: 1px solid #e5e5e5;
            border-radius: 8px;
        }
        .swal2-title {
            color: #333;
            font-size: 18px;
            font-weight: 700;
        }
        .swal2-content {
            color: #595959;
            font-size: 16px;
        }
        .swal2-confirm {
            background-color: #cda557 !important;
            color: #fff !important;
            border-radius: 3px !important;
            padding: 10px 20px !important;
            font-size: 12px !important;
            text-transform: uppercase !important;
            transition: all 0.3s ease-in !important;
        }
        .swal2-cancel {
            background-color: #595959 !important;
            color: #fff !important;
            border-radius: 3px !important;
            padding: 10px 20px !important;
            font-size: 12px !important;
            text-transform: uppercase !important;
            transition: all 0.3s ease-in !important;
        }
        .swal2-confirm:hover {
            background-color: #d5b473 !important;
        }
        .swal2-cancel:hover {
            background-color: #333 !important;
        }
        .swal2-icon.swal2-warning {
            color: #cda557 !important;
            border-color: #cda557 !important;
        }
        .swal2-icon.swal2-error {
            color: #ea3a3c !important;
            border-color: #ea3a3c !important;
        }
    </style>

    <!-- JavaScript for Add to Cart -->
    <script>
        function addToCart(designId, quantity, productType) {
            $.ajax({
                url: '/Cart/AddToCart',
                type: 'POST',
                data: {
                    designId: designId,
                    quantity: quantity,
                    productType: productType
                },
                headers: {
                    'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                },
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            title: 'Thành công',
                            text: 'Sản phẩm đã được thêm vào giỏ hàng!',
                            icon: 'success',
                            confirmButtonText: 'Đóng',
                            customClass: {
                                confirmButton: 'swal2-confirm'
                            }
                        });
                        updateCartCount();
                    } else {
                        Swal.fire({
                            title: 'Lỗi',
                            text: response.message,
                            icon: 'error',
                            confirmButtonText: 'Đóng'
                        });
                    }
                },
                error: function (xhr) {
                    if (xhr.status === 401) {
                        Swal.fire({
                            title: 'Yêu cầu đăng nhập',
                            text: 'Vui lòng đăng nhập để thêm sản phẩm vào giỏ hàng.',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonText: 'Đăng nhập',
                            cancelButtonText: 'Đóng',
                            customClass: {
                                confirmButton: 'swal2-confirm',
                                cancelButton: 'swal2-cancel'
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '/Auth/Register';
                            }
                        });
                    } else {
                        Swal.fire({
                            title: 'Lỗi',
                            text: 'Có lỗi xảy ra, vui lòng thử lại.',
                            icon: 'error',
                            confirmButtonText: 'Đóng'
                        });
                    }
                }
            });
        }

        function updateCartCount() {
            $.ajax({
                url: '/Cart/GetCartItemCount',
                type: 'GET',
                success: function (response) {
                    if (response.success) {
                        $('#cart-count').text(response.count);
                    } else {
                        $('#cart-count').text('0');
                    }
                },
                error: function () {
                    $('#cart-count').text('0');
                }
            });
        }

        $(document).ready(function () {
            updateCartCount();
        });
    </script>
</body>
