@model BusinessLogicLayer.Dtos.DesignDtos.DesignViewModel

<body class="template-color-1">
    <div class="main-wrapper">
        <!-- Begin Hiraola's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <h2>Sản Phẩm</h2>
                    <ul>
                        <li><a href="/Product/ProductList">Danh Sách</a></li>
                        <li class="active">Chi Tiết</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Hiraola's Breadcrumb Area End Here -->
        <!-- Begin Hiraola's Single Product Area -->
        <div class="sp-area">
            <div class="container">
                <div class="sp-nav">
                    <div class="row">
                        <div class="col-lg-5 col-md-5">
                            <div class="sp-img_area">
                                <div class="zoompro-border">
                                    <img class="zoompro" src="@Model.FirstImage.ImageUrl"
                                         data-zoom-image="@Model.FirstImage.ImageUrl"
                                         alt="Hiraola's Product Image" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7">
                            <div class="sp-content">
                                <div class="sp-heading">
                                    <h5><a href="#">@Model.DesignName</a></h5>
                                </div>
                                <div class="sp-essential_stuff">
                                    <ul>
                                        <li>Bộ Sưu Tập: <span>@Model.CollectionName</span></li>
                                        <li>Chủ Đề: <span>@Model.TopicName</span></li>
                                        <li>Mẫu: <span>@Model.ModelName</span></li>
                                        <li>Loại: <span>@Model.CategoryName</span></li>
                                        <li>Lượt Xem: <span>@Model.VisitCount</span></li>
                                    </ul>
                                </div>
                                <div class="quantity">
                                    <label>Số Lượng</label>
                                    <div class="cart-plus-minus">
                                        <input class="cart-plus-minus-box" value="1" type="text" data-max-quantity="@Model.StockQuantity">
                                        <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                        <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                    </div>
                                </div>
                                <div class="qty-btn_area" data-product-id="@Model.DesignId" data-stock="@Model.StockQuantity" data-cart-quantity="0">
                                    <ul>
                                        <li>
                                            <button class="qty-cart_btn" onclick="addToCart('@Model.DesignId')">Giỏ Hàng</button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="hiraola-tag-line">                                   
                                    <h6>Giá: @Model.Price.ToString("N0") ₫</h6>
                                </div>
                                <div class="hiraola-social_link">
                                    <ul>
                                        <li class="facebook">
                                            <a href="https://www.facebook.com" data-bs-toggle="tooltip" target="_blank" title="Facebook">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="instagram">
                                            <a href="https://www.instagram.com" data-bs-toggle="tooltip" target="_blank" title="Instagram">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hiraola's Single Product Area End Here -->
        <!-- Begin Hiraola's Single Product Tab Area -->
        <div class="hiraola-product-tab_area-2 sp-product-tab_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="sp-product-tab_nav">                            
                            <div class="tab-content hiraola-tab_content">
                                <div id="description" class="tab-pane active show" role="tabpanel">
                                    <div class="product-description">
                                        @Model.Description
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hiraola's Single Product Tab Area End Here -->
        <!-- Begin Hiraola's Product Area Two -->
        <div class="hiraola-product_area hiraola-product_area-2 section-space_add">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="hiraola-section_title">
                            <h4>Sản Phẩm Liên Quan</h4>
                        </div>

                    </div>
                    <div class="col-lg-12">
                        <div class="hiraola-product_slider-3">

                            <!-- Begin Hiraola's Slide Item Area -->
                            @if (ViewBag.RelatedDesigns != null && ViewBag.RelatedDesigns.Count > 0)
                            {
                                foreach (var design in ViewBag.RelatedDesigns as List<BusinessLogicLayer.Dtos.DesignDtos.DesignViewModel>)
                                {
                                    <!-- Begin Hiraola's Slide Item Area -->
                                    <div class="slide-item">
                                        <div class="single_product">
                                            <div class="product-img">
                                                <a href="@Url.Action("ProductDetail", "Product", new { designId = design.DesignId })">
                                                    <img class="primary-img" src="@(design.FirstImage?.ImageUrl ?? "/assets/images/product/placeholder.jpg")" alt="@design.DesignName">
                                                    <img class="secondary-img" src="@(design.FirstImage?.ImageUrl ?? "/assets/images/product/placeholder.jpg")" alt="@design.DesignName">
                                                </a>
                                                @if (design.StockQuantity <= 0)
                                                {
                                                    <span class="sticker-2">Hết hàng</span>
                                                }
                                                else
                                                {
                                                    <span class="sticker-2">Còn hàng</span>
                                                }
                                                <div class="add-actions">
                                                    <ul>
                                                        <li>
                                                            <a class="hiraola-add_cart" href="javascript:void(0)" onclick="addToCart('@design.DesignId')" data-bs-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="ion-bag"></i></a>
                                                        </li>
                                                        <li>
                                                            <a class="hiraola-add_compare" href="compare.html" data-bs-toggle="tooltip" data-placement="top" title="Compare This Product">
                                                                <i class="ion-ios-shuffle-strong"></i>
                                                            </a>
                                                        </li>
                                                        <li class="quick-view-btn" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                                                            <a href="javascript:void(0)" data-bs-toggle="tooltip" data-placement="top" title="Quick View">
                                                                <i class="ion-eye"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="hiraola-product_content">
                                                <div class="product-desc_info">
                                                    <h6>
                                                        <a class="product-name" href="@Url.Action("ProductDetail", "Product", new { designId = design.DesignId })">
                                                            @design.DesignName
                                                        </a>
                                                    </h6>
                                                    <div class="price-box">
                                                        <span class="new-price">@design.Price.ToString("N0") ₫</span>
                                                    </div>
                                                    <div class="additional-add_action">
                                                        <ul>
                                                            <li>
                                                                <span class="hiraola-view_count" data-bs-toggle="tooltip" data-placement="top" title="Lượt Xem">
                                                                    <i class="ion-eye"></i> @design.VisitCount
                                                                </span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Hiraola's Slide Item Area End Here -->
                                }
                            }
                            else
                            {
                                <p>Không có sản phẩm liên quan.</p>
                            }
                            <!-- Hiraola's Slide Item Area End Here -->                           

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hiraola's Product Area Two End Here -->
    </div>
    <!-- Thêm SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- CSS tùy chỉnh cho SweetAlert2 và nút hết hàng -->
    <style>
        .swal2-popup {
            font-family: 'Lato', sans-serif;
            background: #f4f4f4;
            color: #595959;
            border: 1px solid #e5e5e5;
            border-radius: 8px;
        }

        .swal2-title {
            color: #333;
            font-size: 18px;
            font-weight: 700;
        }

        .swal2-content {
            color: #595959;
            font-size: 16px;
        }

        .swal2-confirm {
            background-color: #cda557 !important;
            color: #fff !important;
            border-radius: 3px !important;
            padding: 10px 20px !important;
            font-size: 12px !important;
            text-transform: uppercase !important;
            transition: all 0.3s ease-in !important;
        }

        .swal2-cancel {
            background-color: #595959 !important;
            color: #fff !important;
            border-radius: 3px !important;
            padding: 10px 20px !important;
            font-size: 12px !important;
            text-transform: uppercase !important;
            transition: all 0.3s ease-in !important;
        }

        .swal2-confirm:hover {
            background-color: #d5b473 !important;
        }

        .swal2-cancel:hover {
            background-color: #333 !important;
        }

        .swal2-icon.swal2-warning {
            color: #cda557 !important;
            border-color: #cda557 !important;
        }

        .swal2-icon.swal2-error {
            color: #ea3a3c !important;
            border-color: #ea3a3c !important;
        }
        /* Làm mờ và vô hiệu hóa nút khi hết hàng */
        .out-of-stock .qty-cart_btn {
            opacity: 0.5 !important;
            pointer-events: none !important;
            cursor: not-allowed !important;
            background-color: #ccc !important;
            border-color: #ccc !important;
        }

        .qty-cart_btn {
            cursor: pointer;
            padding: 10px 20px;
            background-color: #cda557;
            color: #fff;
            border: none;
            border-radius: 3px;
            text-transform: uppercase;
            font-size: 12px;
            transition: all 0.3s ease-in;
        }

            .qty-cart_btn:hover:not(:disabled) {
                background-color: #d5b473;
            }
    </style>

    <!-- Cập nhật JavaScript -->
    <script>
        $(document).ready(function () {
            initializeStockStatus();

            // Hàm debounce
            function debounce(func, wait) {
                let timeout;
                return function (...args) {
                    clearTimeout(timeout);
                    timeout = setTimeout(() => func.apply(this, args), wait);
                };
            }

            // Gắn sự kiện click cho nút tăng/giảm
            $('.qtybutton').on('click', function () {
                var $button = $(this);
                var $input = $button.parent().find('input.cart-plus-minus-box');
                var oldValue = parseInt($input.val()) || 1;
                var maxQuantity = parseInt($input.data('max-quantity')) || Infinity;
                var newVal;

                if ($button.hasClass('inc')) {
                    newVal = oldValue + 1;
                } else {
                    newVal = oldValue > 1 ? oldValue - 1 : 1;
                }

                if (newVal > maxQuantity) {
                    Swal.fire({
                        title: 'Thông Báo',
                        text: `Sản phẩm này chỉ còn ${maxQuantity} trong kho.`,
                        icon: 'warning',
                        confirmButtonText: 'Đóng',
                        customClass: { confirmButton: 'swal2-confirm' }
                    });
                    return;
                }

                $input.val(newVal);
            });

            // Gắn sự kiện change cho input số lượng
            $('.cart-plus-minus-box').on('change', debounce(function () {
                var $input = $(this);
                var quantity = parseInt($input.val()) || 1;
                var maxQuantity = parseInt($input.data('max-quantity')) || Infinity;

                if (quantity <= 0) {
                    Swal.fire({
                        title: 'Thông Báo',
                        text: 'Số lượng phải lớn hơn 0.',
                        icon: 'warning',
                        confirmButtonText: 'Đóng',
                        customClass: { confirmButton: 'swal2-confirm' }
                    });
                    $input.val(1);
                    return;
                }

                if (quantity > maxQuantity) {
                    Swal.fire({
                        title: 'Thông Báo',
                        text: `Sản phẩm này chỉ còn ${maxQuantity} trong kho.`,
                        icon: 'warning',
                        confirmButtonText: 'Đóng',
                        customClass: { confirmButton: 'swal2-confirm' }
                    });
                    $input.val(maxQuantity);
                    return;
                }

                $input.val(quantity);
            }, 300));
        });

        function initializeStockStatus() {
            const qtyArea = $('.qty-btn_area');
            const stock = parseInt(qtyArea.data('stock'));
            const designId = qtyArea.data('product-id');
            const cartButton = qtyArea.find('.qty-cart_btn');
            const $input = $('.cart-plus-minus-box');

            // Kiểm tra tồn kho ngay từ Model.StockQuantity
            if (stock <= 0) {
                qtyArea.addClass('out-of-stock');
                cartButton.prop('disabled', true).text('Hết hàng');
                $input.data('max-quantity', 0).prop('disabled', true);
                return;
            }

            // Kiểm tra số lượng trong giỏ hàng nếu người dùng đã đăng nhập
            const isAuthenticated = $('input[name="__RequestVerificationToken"]').length > 0;
            if (isAuthenticated) {
                $.ajax({
                    url: '/Cart/GetCartItemQuantity',
                    type: 'GET',
                    data: { designId: designId },
                    success: function (response) {
                        if (response.success) {
                            qtyArea.data('cart-quantity', response.quantity);
                            updateStockStatus(stock, response.quantity);
                        } else {
                            updateStockStatus(stock, 0);
                        }
                    },
                    error: function () {
                        console.error('Không thể lấy số lượng trong giỏ hàng.');
                        updateStockStatus(stock, 0);
                    }
                });
            } else {
                // Nếu chưa đăng nhập, giả định cartQuantity = 0
                updateStockStatus(stock, 0);
            }
        }

        function updateStockStatus(stock, cartQuantity) {
            const qtyArea = $('.qty-btn_area');
            const cartButton = qtyArea.find('.qty-cart_btn');
            const $input = $('.cart-plus-minus-box');
            const maxAddable = stock - cartQuantity;

            if (stock <= 0 || maxAddable <= 0) {
                qtyArea.addClass('out-of-stock');
                cartButton.prop('disabled', true).text('Hết hàng');
                $input.data('max-quantity', 0).prop('disabled', true);
            } else {
                qtyArea.removeClass('out-of-stock');
                cartButton.prop('disabled', false).text('Giỏ Hàng');
                $input.data('max-quantity', maxAddable).prop('disabled', false);
            }
        }

        function updateCartQuantityAndStock(designId) {
            const qtyArea = $('.qty-btn_area');
            const stock = parseInt(qtyArea.data('stock'));

            $.ajax({
                url: '/Cart/GetCartItemQuantity',
                type: 'GET',
                data: { designId: designId },
                success: function (response) {
                    if (response.success) {
                        qtyArea.data('cart-quantity', response.quantity);
                        updateStockStatus(stock, response.quantity);
                    }
                },
                error: function () {
                    console.error('Không thể cập nhật số lượng trong giỏ hàng.');
                }
            });
        }

        function addToCart(designId) {
            const qtyArea = $('.qty-btn_area');
            const cartButton = qtyArea.find('.qty-cart_btn');
            const stock = parseInt(qtyArea.data('stock'));
            const cartQuantity = parseInt(qtyArea.data('cart-quantity')) || 0;
            let quantity = parseInt($('.cart-plus-minus-box').val()) || 0;

            if (cartButton.prop('disabled')) {
                Swal.fire({
                    title: 'Hết hàng',
                    text: 'Sản phẩm này hiện đã hết hàng.',
                    icon: 'warning',
                    confirmButtonText: 'Đóng',
                    customClass: { confirmButton: 'swal2-confirm' }
                });
                return;
            }

            if (quantity <= 0) {
                Swal.fire({
                    title: 'Thông Báo',
                    text: 'Vui lòng chọn số lượng lớn hơn 0.',
                    icon: 'warning',
                    confirmButtonText: 'Đóng',
                    customClass: { confirmButton: 'swal2-confirm' }
                });
                return;
            }

            const maxAddable = stock - cartQuantity;
            let adjusted = false;

            if (quantity > maxAddable) {
                if (maxAddable <= 0) {
                    Swal.fire({
                        title: 'Hết hàng',
                        text: `Sản phẩm này đã hết hàng hoặc bạn đã thêm số lượng tối đa (${stock}).`,
                        icon: 'warning',
                        confirmButtonText: 'Đóng',
                        customClass: { confirmButton: 'swal2-confirm' }
                    });
                    return;
                }
                quantity = maxAddable;
                adjusted = true;
            }

            $.ajax({
                url: '/Cart/AddToCart',
                type: 'POST',
                data: {
                    designId: designId,
                    quantity: quantity,
                    productType: false
                },
                headers: {
                    'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                },
                success: function (response) {
                    if (response.success) {
                        if (adjusted) {
                            Swal.fire({
                                title: 'Thông báo',
                                text: `Sản phẩm chỉ còn ${stock} trong kho. Đã thêm ${quantity} vào giỏ hàng.`,
                                icon: 'warning',
                                confirmButtonText: 'Đóng',
                                customClass: { confirmButton: 'swal2-confirm' }
                            });
                        } else {
                            Swal.fire({
                                title: 'Thành công',
                                text: 'Sản phẩm đã được thêm vào giỏ hàng!',
                                icon: 'success',
                                confirmButtonText: 'Đóng',
                                customClass: { confirmButton: 'swal2-confirm' }
                            });
                        }
                        updateCartCount();
                        updateCartQuantityAndStock(designId);
                        $('.cart-plus-minus-box').val(1); // Reset số lượng về 1 sau khi thêm
                    } else {
                        Swal.fire({
                            title: 'Lỗi',
                            text: response.message,
                            icon: 'error',
                            confirmButtonText: 'Đóng',
                            customClass: { confirmButton: 'swal2-confirm' }
                        });
                    }
                },
                error: function (xhr) {
                    if (xhr.status === 401) {
                        Swal.fire({
                            title: 'Yêu cầu đăng nhập',
                            text: 'Vui lòng đăng nhập để thêm sản phẩm vào giỏ hàng.',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonText: 'Đăng nhập',
                            cancelButtonText: 'Đóng',
                            customClass: {
                                confirmButton: 'swal2-confirm',
                                cancelButton: 'swal2-cancel'
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                const designId = $('.qty-btn_area').data('product-id');
                                const returnUrl = '/Product/ProductDetail?designId=' + encodeURIComponent(designId);
                                window.location.href = '/Auth/Register?ReturnUrl=' + encodeURIComponent(returnUrl);
                            }
                        });
                    } else {
                        Swal.fire({
                            title: 'Lỗi',
                            text: 'Có lỗi xảy ra, vui lòng thử lại.',
                            icon: 'error',
                            confirmButtonText: 'Đóng',
                            customClass: { confirmButton: 'swal2-confirm' }
                        });
                    }
                }
            });
        }

        function updateCartCount() {
            $.ajax({
                url: '/Cart/GetCartItemCount',
                type: 'GET',
                success: function (response) {
                    if (response.success) {
                        $('#cart-count').text(response.count);
                    } else {
                        $('#cart-count').text('0');
                    }
                },
                error: function () {
                    $('#cart-count').text('0');
                }
            });
        }
    </script>
</body>